<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item of menuItems; track $index) {
      <a mat-list-item href="#">
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </a>
      }
      <app-tree></app-tree>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="secondary" class="topbar">
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="middle">
        <span class="toolbar_title">BK Brive La Gaillarde</span>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div class="right">
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>